{% extends 'base.html' %}

{% block content %}
  <h2>Bienvenue<span class="icon-emo-happy"></span></h2>
  <p class="lead">
    Ce site est un projet de fin d'études Intitulé : <span style="font-weight:900"> Pilotage à distance d’un système de contrôle pour un
laboratoire distant  </span>Connectez-vous <a href="{% url 'login' %}">ici</a>. Si vous êtes nouveau sur Labo elbayadh créez un  <a href="{% url 'student_signup' %}">Compte étudiant</a> ou <a href="{% url 'teacher_signup' %}">Compte enseignant</a>.
  </p>
  <hr>
  <h3>Comment ça marche ?</h3>
  <p>
    Le but de ce site est de réaliser un travail pratique à distance. Cela contrôle les outils de laboratoire. Dans notre projet, Choisi de travail pratique sur un circuit électrique. <br>
L'étudiant peut se connecter à l'interface, créer un nouveau compte et se connecter après cela.Sur la page d'accueil. Il peut voir toutes les TP en attente de travail (aussi le travail qui a été achevé et attend l'évaluation de l'enseignant). Il peut choisir une TP et commencer à interagir à distance avec des appareils électroniques en laboratoire.Après avoir terminé le travail, l'étudiant déposé  le rapport de travail pour évaluation  par l'enseignant, <br>
L'enseignant peut ajouter de nouveaux travaux de laboratoire. Il peut également modifier et supprimer. Après avoir ajouté le travail, il devient possible de voir le nombre d'élèves qui ont terminé le travail. Et consultez le rapport de chaque élève. Il peut évaluer chaque élève.
  </p>
{% endblock %}
