{% extends 'base.html' %}

{% block content %}
  {% include 'classroom/students/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Titre TP</th>
          <th>Matière</th>
          <th>date</th>
          <th>correction</th>
          <th>note</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_quiz in taken_quizzes %}
          <tr>
            <td>{{ taken_quiz.quiz.name }}</td>
            <td>{{ taken_quiz.quiz.module }}</td>
            <td>{{ taken_quiz.date}}</td>

            {% if taken_quiz.score == 100.0  %}
            <td> en cours...</td>
              <td> en cours...</td>


            {% endif  %}
            {% if taken_quiz.score != 100.0  %}


            <td>  <a href="{%  url 'students:pdf_corect_ens' %}?date={{ taken_quiz.correction_TP_ensegn }}" target="_blank"> coreection  </a>  </td>
            <td>{{ taken_quiz.score }}</td>

            {% endif  %}

          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">Vous n'avez effectué aucun travail pratique.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
